SERVER_PORT=3000
EXTERNAL_PORT=3000
POSTGREST_URL=http://<ip>:<port>/
EMAIL_HOST=
EMAIL_USER=
EMAIL_PASSWORD=
SECRET_KEY=
JWT_SECRET=
JWT_EXPIRES_IN=1d
JWT_REFRESH_EXPIRES_IN=7d
LOGS_MAX_SIZE_PER_FILE=30m
LOGS_MAX_FILES=14d
LOGS_TIME_FORMAT=YYYY-MM-DDTHH:mm:ssZ
LOGS_FILENAME_DATE_PATTERN=YYYY-MM-DD
EMAIL_VERIFICATION_URL=https://<ip>/auth/api/v1/verify?token=
PASSWORD_RESET_URL=https://<ip>/change-password?token=